@{
    Layout = null;
}


@model UserVerifyForgetPasswordCodeDTO;


<html>
<head>
    <title>Verify Forget Password Code</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/adminstyle.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h2>Verify Forget Password Code</h2>


        @if (ViewBag.SucessStatus == 2)
        {
            <div class="alert alert-success" role="alert">
                Great Your Reset Your Account Password
                <a asp-action="login" class="alert-link">GO to Login</a>.

            </div>

        }
        else if (ViewBag.SucessStatus == 1)
        {
            <div class="alert alert-danger" role="alert">
                Sorry In valid
            </div>
        }

        <form asp-action="VerifyForgetPasswordCode" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <button class="btn btn-primary" type="submit"> Send</button>

        </form>
    </div>
</body>
</html>
